<ul class="statistics-list" *ngIf="searchItem">
  <li class="statistics-list__item">
    <mat-icon aria-hidden="false" aria-label="Example eye icon">remove_red_eye</mat-icon>
    <span class="statistics-list__text">{{ searchItem.statistic.viewCount }}</span>
  </li>
  <li class="statistics-list__item">
    <mat-icon aria-hidden="false" aria-label="Example likes icon">favorite</mat-icon>
    <span class="statistics-list__text">{{ searchItem.statistic.likeCount }}</span>
  </li>
  <li class="statistics-list__item">
    <mat-icon
      class="statistics-list__icon-dislikes"
      aria-hidden="false"
      aria-label="Example dislikes icon"
    ></mat-icon>
    <span class="statistics-list__text">{{ searchItem.statistic.dislikeCount }}</span>
  </li>
  <li class="statistics-list__item">
    <mat-icon
      class="statistics-list__icon-commits"
      aria-hidden="false"
      aria-label="Example dislikes icon"
    ></mat-icon>
    <span class="statistics-list__text">{{ searchItem.statistic.commentCount }}</span>
  </li>
</ul>
